.editDialog{
    padding: 15px 15px 20px 30px;
    width: 50vw;
    .wrapper{
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        form{
            div+div{
                margin-top: 20px;
            }
        }
        div{
            display: flex;
        }
        .header{
            flex-direction: row;
            justify-content: end;
            align-items: center;
            button{
                border: none;
                background-color: black;
                border-radius: 20px;
                display: flex;
                img{
                    width: 40px;
                    height: 40px;
                }
                align-items: center;
            }
        }
        .dataWrapper{
            flex-direction: column;
            gap: 20px;
        }
    }
}